.share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px 0 15px;
}

.share-Box {
    width: 42vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}